@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
	min-width: 240px;
	background-color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.75em;
}

.medialinks {
	padding-bottom: 60px;
}

.facebook,
.linkedin {
	width: 50px;
	float: right;
}

header {
	background-color: #F30;
	color: #FFF;
	padding: 1% 0 1% 2%;
}

article {
	padding: 0 1% 0 1%;
}

.lindsay {
	min-width: 240px;
	max-width: 100%;
	float: right;
}

.portfolio {
	max-width: 80%;
	padding: 5% 10% 0 10%;
}

footer {
	display: inline-block;
	width: 100%;
	background-color: #F30;
	color: #FFF;
	padding: 1% 0 1% 2%;
	font-size: 0.75em;
}

@media only screen and (min-width: 37.5em) {
	body {
		font-size: 1em;
	}
	
	.lindsay {
		max-width: 541px;
	}
	
	.portfolio {
	max-width: 25%;
	padding: 4%;
	}
}

@media only screen and (min-width: 51em) {
	
	article {
		max-width: 50%;
	}
}

@media only screen and (min-width: 80em) {
	body {
		font-size: 2em;
	}
}