<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
<link href="general.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobiloptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
</head>

<body>
	<div class="medialinks">
		<a href="https://www.facebook.com/llamallamallamaduck"><img src="img/facebook_alt.svg" alt="facebook.com/llamallamallamaduck" class="facebook"></a>
		<a href="https://www.linkedin.com/pub/lindsay-dupuis/65/b0a/511/"><img src="img/linkedin_alt.svg" alt="ca.linkedin.com/pub/lindsay-dupuis/65/b0a/511/" class="linkedin"></a>
	</div>
	<header>
		<h1>This is Lindsay</h1>
		<nav class="navigation">
			<ul>
				<ol><a href="portfolio.html">Portfolio</a></ol>
				<ol><a href="index.html">Home</a></ol>
			</ul>
		</nav>		
	</header>
		
		{{content}}
		
	<footer>
		<p>&#169; 2013 Lindsay Dupuis. All Rights Reserved.</p>
	</footer>
</body>
</html>
